<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Resolved by RepositoryFactory.GetRepository -->
    <add key="IPersonRepository" 
         value="Generics.Repository.PersonRepository.PersonServiceRepository, Generics.Repository, Version=1.0.0.0, Culture=neutral"/>
    
    <add key="IProductRepository"
         value="Generics.Repository.ProductRepository.ProductServiceRepository, Generics.Repository, Version=1.0.0.0, Culture=neutral"/>

    <!-- Resolved by Container.Resolve<T> -->
    <add key="Generics.Common.Interface.IRepository`2[Generics.Common.Person,System.String]" 
         value="Generics.Repository.PersonRepository.GenericPersonServiceRepository, Generics.Repository, Version=1.0.0.0, Culture=neutral"/>

    <add key="Generics.Common.Interface.IRepository`2[Generics.Common.Product,System.String]"
         value="Generics.Repository.ProductRepository.GenericProductServiceRepository, Generics.Repository, Version=1.0.0.0, Culture=neutral"/>

  </appSettings>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:1502/PersonService.svc" binding="basicHttpBinding"
          contract="MyService.IPersonService" name="BasicHttpBinding_IPersonService" />
    </client>
  </system.serviceModel>

</configuration>